{% extends 'base.html.twig' %}

{% block title %}New MatchMaker{% endblock %}

{% block body %}
    <h1>Create new MatchMaker</h1>

    {{ include('match_maker/_form.html.twig') }}

    <a href="{{ path('match_maker_index') }}">back to list</a>
{% endblock %}
